.userButton {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.userButton img {
  width: 36px;
  height: 36px;
  border: 100%;
  object-fit: cover;
}

.userButton .arrow {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.loginLink {
  font-size: 18px;
  padding: 16px;
  border-radius: 32px;
}
.userOptions {
  position: absolute;
  top: 125%;
  right: 0;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  font-size: smaller;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.384);
}

.userOption {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  color: black;
}
.userOption:hover {
  background-color: #e7e7e768;
  color: rgba(0, 0, 0, 0.325);
}
.loginLink:hover {
  background: #f1f1f1;
}

@media (max-width: 475px) {
  .userButton {
    display: none;
  }
}
